.search-blog-div{
    width:100%;
    padding:5px;
}

.search-blog-div select{
    width:20%;
}

.search-blog-div input{
    width:57%;
}

.search-blog-div a{
    width:20%;
}

.blog-list-flip-div{
    width:100%;
    height:15px;
}

.blog-list-flip-div div{
    float:left;
    text-align:center;
    line-height:15px;
}

.blog-list-flip-div-last, blog-list-flip-div-next{
    width:20%;
}

.blog-list-flip-div-select{
    width:60%;
}

.blog_list_content{
    max-height: 100px;
    overflow-y: hidden;
}